.icon{
    width: 14px;
    height: 14px;
    background: url(./icon-sprite.png);
    background-repeat: no-repeat;
  
}  
.icon.disable{
    filter: blur(1px);
    cursor: not-allowed;
}
.icon.hidden {
    visibility: hidden;
} 

.collapse {   
    background-position: -56px 2px; 
    opacity: .4; 
    cursor: pointer;
} 

.collapse.selected{
    background-position: -84px 2px;
    opacity: .8; 
}

.expand {
    background-position: -70px 2px; 
    opacity: .4;  
    cursor: pointer;
} 

.expand.selected{
    background-position: -98px 2px;
    opacity: .8; 
}

.folder{ 
    background-position: 0px 0px;
}

.lock-folder{ 
    background-position: -14px 0px;
}

.file { 
    background-position: -28px 0px;
}

.close{
    background-position: -42px 2px; 
    opacity:.65;  
    cursor: pointer;
}

.close:hover{
    opacity: 1;
}

.icon.tertiary{
    opacity: .25; 
}